@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!normalize.css v3.0.3|MIT License|necolas.github.io/normalize.css*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Slider */
.slick-slider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  box-sizing: border-box;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px;
  float: left;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../_img/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../_fonts/slick.eot");
  src: url("../_fonts/slick.eot?#iefix") format("embedded-opentype"), url("../_fonts/slick.woff") format("woff"), url("../_fonts/slick.ttf") format("truetype"), url("../_fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  display: block;
  height: 33px;
  width: 33px;
  background: transparent;
  border: none;
  padding: 0px;
  font-size: 0px;
  color: transparent;
  line-height: 0px;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: transparent;
  color: transparent;
  outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
  font-family: "slick";
  font-size: 33px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 0px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0px;
}

[dir="rtl"] .slick-next {
  left: 0px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  position: relative;
  bottom: 75px;
  display: block;
  width: 90%;
  height: 0px;
  margin: 0px auto;
  padding: 0px;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0px;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0px;
  padding: 5px;
  color: transparent;
  font-size: 0px;
  line-height: 0px;
  outline: none;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  content: "•";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  color: #000;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0px 0px 0px #FFF, 0px 0px 0px #FFF;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: 0.75;
}

.slick {
  background: #FFF;
}

.slick div {
  outline: none;
}

.slick img {
  max-height: 600px;
  margin: 0px auto;
}

.slick p {
  font-size: 14px;
  padding-bottom: 20px;
}

.slick-slide {
  transition: 1s ease all;
  opacity: 0.75;
}

.slick-slide.slick-current {
  opacity: 1.0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

img {
  -ms-interpolation-mode: bicubic;
}

#wrapper {
  max-width: 1403px;
  background-color: #FFF;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik One", sans-serif;
}

h1 {
  margin: 70px 0px 15px 0px;
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  margin: 15px auto 10px auto;
  font-size: 25px;
}

h4 {
  font-size: 21px;
}

a,
div,
li,
p {
  font-size: 18px;
}

em {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

code {
  font-family: "Share Tech Mono", monospace;
  font-size: 18px;
  font-weight: normal;
}

.hide {
  display: none;
}

.full,
.half,
.thirds {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  vertical-align: top;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.thirds {
  width: 33.33333334%;
}

.bgwhite {
  background: #FFF;
}

.bgblack {
  background: #000;
}

.bgpuppybase {
  background: #EBE2DB;
}

.bgpuppyspot {
  background: #DD8D4B;
}

.bgketchup {
  background: #D72A2A;
}

.bgmustard {
  background: #FFD255;
}

.bgbrownsugarketchup {
  background: #821919;
}

.textwhite {
  color: #FFF;
}

.textblack {
  color: #000;
}

.textpuppybase {
  color: #EBE2DB;
}

.textpuppyspot {
  color: #DD8D4B;
}

.textketchup {
  color: #D72A2A;
}

.textmustard {
  color: #FFD255;
}

.textbrownsugarketchup {
  color: #821919;
}

header {
  height: 100%;
  background: #FFD255;
  padding: 0px 0px 5px 0px;
  text-align: center;
}

header table,
header tbody,
header tr,
header td {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

header img {
  max-width: 84%;
  max-height: 100%;
  padding: 0px 10px;
}

img {
  max-width: 100%;
}

h1,
h3 {
  color: #FFD255;
  font-family: "Rubik One", sans-serif;
}

hr {
  width: 80%;
  background: #FFD255;
  border: 1px solid #FFD255;
  border-top-width: 5px;
  border-radius: 12px;
  color: #FFD255;
}

iframe {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 378px;
}

section {
  font-size: 0px;
}

section table {
  max-width: 740px;
  margin: 0px auto;
  font-size: 22px;
}

section table a {
  color: #D72A2A;
}

section thead {
  padding: 0px 0px 0px 0px;
}

section th {
  border-bottom: 2px solid #000;
  padding-bottom: 12px;
  font-size: 30px;
  vertical-align: bottom;
}

section tbody tr:first-of-type td {
  padding-top: 11px;
}

section th,
section td:first-of-type {
  width: 33.3333333%;
  font-weight: bold;
}

section td {
  padding: 0px 4px;
  line-height: 37px;
  vertical-align: middle;
}

footer {
  background-color: #FFF;
  margin: 0px auto;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

footer div {
  display: inline-block;
  width: 220px;
  margin: 0px 0px 20px 0px;
  text-align: left;
  vertical-align: top;
}

footer div:last-of-type {
  margin-bottom: 50px;
}

footer h4 {
  margin: 10px 0px;
  font-family: "Rubik One", sans-serif;
}

footer a {
  display: block;
  padding: 0px 15px 7px 15px;
  color: #400;
  text-decoration: none;
}

footer a:hover {
  color: #D72A2A;
}

#downloads {
  margin: 0px auto;
  padding-bottom: 20px;
  font-size: 0px;
}

#downloads a {
  display: inline-block;
  width: 250px;
  background: #FFD255;
  border: 5px solid transparent;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  color: #D72A2A;
  font-family: sans-serif;
  font-weight: 900;
  text-decoration: none;
}

#downloads a:hover {
  background: #DD8D4B;
  color: #EBE2DB;
}

#downloads a.selected {
  border-color: #DD8D4B;
  box-shadow: 0px 0px 14px -2px #FFD255;
}

#downloads-and-video h1 {
  margin-top: 30px;
}

#downloads-and-video p a {
  display: inline-block;
  padding-bottom: 20px;
  color: #FFD255;
  text-decoration: none;
}

#downloads-and-video p a:hover {
  color: #DD8D4B;
  text-decoration: underline;
}

#whatsnew {
  padding-bottom: 40px;
}

#whatsnew h1 {
  margin: 0px;
  padding: 60px 0px 40px 0px;
  color: #DD8D4B;
  text-align: center;
}

#whatsnew table {
  font-family: "Montserrat", sans-serif;
}

#whatsnew thead {
  color: #821919;
}

#whatsnew th {
  border-color: #821919;
}

#whatsnew th:first-of-type {
  font-size: 24px;
}

#whatsnew th a {
  color: #821919;
  font-size: 30px;
  text-decoration: none;
}

#whatsnew th a:hover {
  color: #D72A2A;
}

#whatsnew tr:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.5);
}

#screenshots [data-os],
#cultures [data-os],
#themes [data-os] {
  cursor: pointer;
}

#screenshots .half,
#cultures .half,
#themes .half {
  font-size: 16px;
}

#screenshots p,
#cultures p,
#themes p {
  width: 90%;
  margin: 50px auto 50px;
}

#screenshots .slick p,
#cultures .slick p,
#themes .slick p {
  margin: 0px auto;
}

#quotes {
  padding: 30px 0px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#quotes h3 {
  padding: 10px 0px 10px 0px;
  color: #DD8D4B;
  font-size: 25px;
  font-weight: 300;
}

#quotes h3,
#quotes ul {
  max-width: 960px;
  margin: 0px auto;
}

#quotes li {
  margin: 0px 0px 0px 60px;
  font-size: 20px;
  line-height: 24px;
  list-style-type: disc;
}

#quotes q {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  opacity: 0.75;
}

#quotes q:before, #quotes q:after {
  font-style: normal;
}

#quotes q:before {
  content: '‟';
}

#quotes q:after {
  content: '”';
}

#cultures h3 {
  margin: 35px 0px;
}

#cultures p {
  margin: 30px auto;
}

#cultures .osselect {
  margin: 30px 0px 15px 0px;
}

#cultures .osselect img {
  margin-bottom: 15px;
}

#cultures .osselect small {
  display: block;
}

#cultures a {
  color: #821919;
}

#translation_instructions {
  width: 91%;
  border-radius: 6px;
  margin: 0px auto;
  padding: 10px 10px;
  text-align: left;
}

#translation_instructions h4 {
  margin: 0px 0px 10px 0px;
}

#translation_instructions li {
  margin: 0px 0px 0px 30px;
  line-height: 24px;
  list-style-type: decimal;
}

#contributors {
  padding: 20px 0px 40px 0px;
}

#contributors h4 {
  margin: 40px 0px 20px 0px;
}

#contributors p {
  margin: 30px 0px 10px 0px;
}

#contributors ul {
  width: 70%;
  min-width: 300px;
  margin: 0px auto;
  text-align: left;
}

#contributors li {
  position: relative;
  margin: 7.2px 0px;
  line-height: 27px;
}

#contributors li:after {
  content: '';
  position: absolute;
  top: 11px;
  left: -16px;
  display: block;
  width: 4px;
  height: 4px;
  background: #821919;
  transform: rotate(45deg);
}

#contributors a {
  color: #D72A2A;
}

#minreqs {
  padding: 30px 0px;
}

#minreqs h4 {
  padding: 0px 0px 20px 0px;
  color: #FFF;
}

#minreqs table {
  height: 185px;
  font-family: "Montserrat", sans-serif;
}

#minreqs th {
  border: 0px;
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
  line-height: 50px;
  cursor: pointer;
  vertical-align: middle;
}

#minreqs th:hover {
  background: rgba(255, 255, 255, 0.25);
}

#minreqs th.selected {
  background: #EBE2DB;
}

#minreqs th.selected:hover {
  background: #EBE2DB;
}

#minreqs td {
  padding: 8px 0px 0px 10px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
}

#minreqs strong {
  font-weight: bold;
}

#mixins {
  padding: 30px 0px;
}

#mixins a {
  color: #821919;
}

#mixins h1 {
  margin: 0px;
  padding: 60px 0px 40px 0px;
  color: #DD8D4B;
  text-align: center;
}

#mixins h4 {
  padding: 0px 0px 20px 0px;
}

#mixins .table {
  max-width: 740px;
  margin: 20px auto 20px;
  font-size: 22px;
}

#mixins .table a {
  color: #D72A2A;
}

#mixins .thead {
  padding: 0px 0px 0px 0px;
  color: #821919;
}

#mixins .tr {
  font-size: 0px;
}

#mixins .tr:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.5);
}

#mixins .tr:last-of-type {
  border-radius: 0px 0px 6px 6px;
}

#mixins .th {
  border-bottom: 2px solid #000;
  border-color: #821919;
  padding-bottom: 8px;
  font-family: "Rubik One", sans-serif;
  font-size: 30px;
  font-weight: 500;
  vertical-align: bottom;
}

#mixins .tbody .tr:first-of-type .td {
  padding-top: 11px;
}

#mixins .td {
  padding: 0px 4px;
  line-height: 37px;
  text-align: left;
  vertical-align: middle;
}

#mixins .td a {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

#mixins .showmore,
#mixins .showless {
  color: #D72A2A;
  text-align: center;
  cursor: pointer;
}

#themes p {
  margin: 30px auto;
}

#themes .osselect {
  margin: 30px 0px 15px 0px;
}

#themes .osselect img {
  margin-bottom: 15px;
}

#themes .osselect small {
  display: block;
}

#themes a {
  color: #821919;
}

#technology {
  padding: 30px 8px;
}

#technology p {
  font-family: "Montserrat", sans-serif;
}

#technology img {
  max-height: 128px;
  margin: 20px auto;
}

#technology .node-sass {
  max-width: 112px;
}

/* Archive Table */
#output {
  width: 100%;
}

#output thead tr {
  background: #008CBA;
  color: #FFF;
}

#output th,
#output td {
  padding: 10px;
}

.new-release td {
  border-top: 2px solid #297FD8;
}

.latest-release td {
  border-top: 0px;
}

/* OS totals chart */
#os,
#os2 {
  width: 97%;
  margin: 4px auto;
  font-size: 0px;
  visibility: hidden;
}

#os th,
#os2 th {
  background-color: #29D89F;
  border-radius: 10px 10px 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

#os .win,
#os .lin,
#os .osx,
#os2 .win,
#os2 .lin,
#os2 .osx {
  height: 20px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  cursor: default;
}

#os .win,
#os2 .win {
  background: #297FD8;
  border-radius: 0px 0px 0px 10px;
}

#os .lin,
#os2 .lin {
  background: #9500BA;
}

#os .osx,
#os2 .osx {
  background: #FD51B0;
  border-radius: 0px 0px 10px 0px;
}

#total {
  margin: 0px 0px 25px 0px;
}

@media screen and (max-width: 1093px) {
  #downloads {
    max-width: 80%;
  }
  .half {
    width: 100%;
  }
  #mixins .half {
    width: 50%;
  }
  #mixins .table {
    font-size: 17.6px;
  }
  #mixins .th {
    font-size: 24px;
  }
  #mixins .td {
    padding: 6px 4px 5px;
    line-height: 20px;
  }
  #mixins .td a {
    font-size: 16px;
  }
  #mixins code {
    font-size: 16px;
  }
  section table {
    font-size: 17.6px;
  }
  section th {
    font-size: 24px;
  }
  .slick img {
    max-height: 300px;
  }
}

@media screen and (max-width: 700px) {
  .thirds {
    width: 100%;
  }
}
