
/* Archive Table */

#output
    width: 100%
    thead tr
        background: $dashboadHeaderBackground
        color: $white
    th,
    td
        padding: 10px
    .new-release td
        border-top: 2px solid $dashboardNewRelease
    .latest-release td
        border-top: 0px
