
// Supplies mixins and variables that other .scss files can call

$logoFont: 'Rubik One', sans-serif
$secondaryFont: 'Montserrat', 'Arial Rounded MT', 'Arial Black', sans-serif
$consoleFont: 'Share Tech Mono', monospace
$white: #FFF
$white50: rgba($white, 0.5)
$white25: rgba($white, 0.25)
$lightGray: #F2ECE8
$black: #000
$black50: rgba($black, 0.5)
$black70: rgba($black, 0.7)
$mustard: #FFD255
$ketchup: #D72A2A
$brownSugarKetchup: #821919
$puppyBase: #EBE2DB
$puppySpot: #DD8D4B
$footerLink: #400
$osBackground: #29D89F
$osWin: #297FD8
$osLin: #9500BA
$osOSX: #FD51B0
$dashboadHeaderBackground: #008CBA
$dashboardNewRelease: #297FD8
$standardTextSize: 18px

@mixin bmp0
    border: 0px
    margin: 0px
    padding: 0px

@mixin noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

@mixin translate3d($x, $y, $z)
    -webkit-transform: translate3d($x, $y, $z)
    -moz-transform: translate3d($x, $y, $z)
    -ms-transform: translate3d($x, $y, $z)
    -o-transform: translate3d($x, $y, $z)
    transform: translate3d($x, $y, $z)

@mixin translate($x, $y)
    -webkit-transform: translate($x, $y)
    -moz-transform: translate($x, $y)
    -ms-transform: translate($x, $y)
    -o-transform: translate($x, $y)
    transform: translate($x, $y)
